header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 5px 5px 5px;
  }
  
body {
    background-color: rgb(200, 237, 241);
  }
.outer {
		margin: 25px 25px 25px 25px;   
	}
.inner {
    padding-bottom: 20px;  
	}

ul {
		font-family: Georgia, Arial, sans-serif;
		font-size: 23px;
	}

h1 {
  font-family: verdana,Georgia, Arial, sans-serif;
  font-size: 40px;
}

  